@using ORA_UI_PAMS_Demo.Models

@(
Html.DevExtreme().DataGrid<SampleOrder>()
    .ShowBorders(true)
    .ShowColumnLines(true)
    .ShowRowLines(true)
    .WordWrapEnabled(true)
    .DataSource(d => d.Mvc()
        .Controller("SampleData")
        .LoadAction("Get")
        .UpdateAction("Update")
        .InsertAction("Insert")
        .DeleteAction("Delete")
        .Key("Id")
    )
    .Sorting(sorting => sorting.Mode(GridSortingMode.Multiple))
    .Editing(editing =>
    {
        editing.Mode(GridEditMode.Row);
        editing.AllowDeleting(true);
        editing.AllowUpdating(true);
    })
    .Selection(x => { x.Mode(SelectionMode.Multiple); x.ShowCheckBoxesMode(GridSelectionShowCheckBoxesMode.None); })
    .Columns(columns =>
    {
        columns.AddFor(m => m.IsImportant).Width(30).CssClass("middle").Caption("")
        .CellTemplate(@<text>
            <% if(data.IsImportant) { %>
            <span style="color:yellow">&bigstar;</span>
            <% } else { %>
            <span></span>
            <% } %>
        </text>);

        columns.AddFor(m => m.CreatedDate).Width(130).CssClass("middle").AllowEditing(false).Caption("Created Date").Format("MM/dd/yy hh:mm");
        columns.AddFor(m => m.ModifiedDate).Width(145).CssClass("middle").AllowEditing(false).Caption("Latest Updated Date").Format("MM/dd/yy hh:mm");

        columns.AddFor(m => m.UserName).Width(130).CssClass("middle").AllowEditing(false).Caption("User Name");
        columns.AddFor(m => m.Category).Width(130).CssClass("middle").Caption("Category")
            .Lookup(lookup => lookup
                .DataSource(d => d.Mvc().Controller("Category").LoadAction("Get").Key("Id"))
                .DisplayExpr("Name")
                .ValueExpr("Name")
            );

        columns.AddFor(m => m.Comment).Width(150).CssClass("middle").Caption("Comment").EditCellTemplate(@<text>
            <textarea rows="2" cols="30" style="width: 145px;min-width: 145px;" keypress="return tbxOnKeyDown(e);"><%- data.Comment %></textarea>
        </text>);

        columns.AddFor(m => m.Fund).Width(70).CssClass("middle-center").Caption("Fund");

        columns.AddFor(m => m.AttachmentName).CssClass("middle-center").Width(120).Caption("Attachments")
        .CellTemplate(@<text>
            <a href="https://www.google.com" target="_blank">Attachments: <%- data.AttachmentCount %></a>
        </text>)
        .EditCellTemplate(@<text>
            <img src="~/img/AwardSynopsis.gif">
        </text>);

        columns.AddFor(m => m.EditComment).Width(80).CssClass("middle-center").AllowEditing(false).Caption("History")
        .CellTemplate(@<text>
            <img src="~/img/CommentGrid.gif">
        </text>);
    })
    .Paging(paging => paging.PageSize(10))
    .Pager(pager =>
    {
        pager.ShowPageSizeSelector(true);
        pager.AllowedPageSizes(new[] { 5, 10, 15, 20 });
        pager.ShowInfo(true);
    })
    .FilterRow(f => f.Visible(true))
    .HeaderFilter(f => f.Visible(true))
    .GroupPanel(p => p.Visible(true))
    .Grouping(g => g.AutoExpandAll(false))
    .RemoteOperations(true)
    .Summary(s => s
        .TotalItems(totalItems =>
        {
            totalItems.AddFor(m => m.Id).SummaryType(SummaryType.Count);
        })
        .GroupItems(groupItems =>
        {
            groupItems.Add().SummaryType(SummaryType.Count);
        })
    )
)

<script>
    function Funds(options) {
        return {
            filter: options.data ? ["Name", "=", options.data.Fund] : null
        };
    }

    function tbxOnKeyDown(e) {
        alert('enter...');
    }
</script>

<style>
    .dx-widget {
        font-size: 9pt;
    }

    .container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    tbody .middle {
        vertical-align: middle !important;
    }

    tbody .middle-center {
        text-align: center !important;
        vertical-align: middle !important;
    }
</style>