@using ORA_UI_PAMS_Demo.Models

<h2>Home</h2>

@(
Html.DevExtreme().DataGrid<SampleOrder>()
    .ShowBorders(true)
    .DataSource(d => d.Mvc().Controller("SampleData").LoadAction("Get").Key("Id"))
    .Columns(columns =>
    {
        columns.AddFor(m => m.IsImportant).Caption("").Width(50)
        .CellTemplate(@<text>
            <div><% value %></div>
        </text>);

        columns.AddFor(m => m.CreatedDate).Caption("Created Date").Format("MM/dd/yy hh:mm");
        columns.AddFor(m => m.ModifiedDate).Caption("Latest Updated Date").Format("MM/dd/yy hh:mm");

        columns.AddFor(m => m.UserName).Caption("User Name");
        columns.AddFor(m => m.Category).Caption("Category");

        columns.AddFor(m => m.Comment).Caption("Comment");
        columns.AddFor(m => m.Fund).Caption("Fund");
        columns.AddFor(m => m.AttachmentName).Caption("Attachments");

        columns.AddFor(m => m.EditComment).Caption("History");
    })
    .Paging(paging => paging.PageSize(10))
    .Pager(pager =>
    {
        pager.ShowPageSizeSelector(true);
        pager.AllowedPageSizes(new[] { 5, 10, 15, 20 });
        pager.ShowInfo(true);
    })
    .FilterRow(f => f.Visible(true))
    .HeaderFilter(f => f.Visible(true))
    .GroupPanel(p => p.Visible(true))
    .Grouping(g => g.AutoExpandAll(false))
    .RemoteOperations(true)
    .Summary(s => s
        .TotalItems(totalItems =>
        {
            totalItems.AddFor(m => m.Id).SummaryType(SummaryType.Count);
        })
        .GroupItems(groupItems =>
        {
            groupItems.Add().SummaryType(SummaryType.Count);
        })
    )
)