@using ORA.UI.PAMS.Demo.Models;

<center>
    <h2>PAMS</h2>
</center>

@(Html.DevExtreme().TabPanel()
                .ID("tabpanel-container")
                .Height("100%")
                .Width("100%")
                .DataSource(new NameValue[2] { new NameValue("Tab1: Partial View", "1"), new NameValue("Tab2: Ajax load", "2") })
                .SelectedIndex(0)
                .Loop(false)
                .AnimationEnabled(true)
                .SwipeEnabled(true)
                .ItemTitleTemplate(@<text>
                    <span><%- Name %></span>
                </text>)
                .ItemTemplate(@<text>
                    <div class="tabpanel-item">
                        <% if(Value == '1') { %>
                        <center>
                            <partial name="~/Views/Home/_Grid-SpecialNote.cshtml" />
                        </center>
                        <% } else { %>
                        <center>
                                    @(Html.DevExtreme().Button()
                                .Icon("check")
                                .Text("Load Grid from Ajax")
                                .Type(ButtonType.Success)
                                .OnClick("LoadGrid")
                                )
                                <div id="grid-container">
                                </div>
                            </center>
                            <% } %>
                        </div>
                    </text>)
)

<script>
    function onEditorPreparing(e) {
        if (e.dataField === "Comment")
            e.editorName = "dxTextArea";
    }
    function LoadGrid() {
        let postBackURL = "/Home/Grid";

        $.ajax({
            url: postBackURL,
            method: 'GET'
        })
            .done(function (data) {
                $("#grid-container").html(data);
                return false;
            })
            .fail(function () {
                alert('Postback failed.');
            })
    }
    function ResizeTabPanel(width) {
        $("#tabpanel-container").width(width);
    }
</script>

<style>
    @@media (min-width: 576px) {
        .container-sm, .container {
            max-width: 1920px !important;
        }
    }

    @@media (min-width: 768px) {
        .container-md, .container-sm, .container {
            max-width: 1920px !important;
        }
    }

    @@media (min-width: 992px) {
        .container-lg, .container-md, .container-sm, .container {
            max-width: 1920px !important;
        }
    }

    @@media (min-width: 1400px) {
        .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
            max-width: 1920px !important;
        }
    }
</style>