@using ORA.UI.PAMS.Demo.Models;
@using ORA.UI.PAMS.Demo.Library

<center>
    <h2>PAMS</h2>
    @Html.ImageActionLink("","Index","Home", null, null, "~/img/star.jpg")
</center>

@(Html.DevExtreme().TabPanel()
.ID("tabpanel-container")
.Height("100%")
.Width("100%")
.DataSource(new NameValue[5] { new NameValue("Tab1: Partial View", "1"), new NameValue("Tab2: Ajax load", "2"), new NameValue("Tab3: Edit in Form", "3"), new NameValue("Tab4: Merge rows by rowspans", "4"), new NameValue("Tab5: Split by <hr> tag", "5") })
.SelectedIndex(0)
.Loop(true)
.AnimationEnabled(true)
.SwipeEnabled(true)
.ItemTitleTemplate(@<text>
    <span><%- Name %></span>
</text>)
.ItemTemplate(@<text>
    <div class="tabpanel-item">
        <% if(Value == '1') { %>
        <center>
            <div>
                @(Html.DevExtreme().Button()
                .Icon("check")
                .Text("ShowSelectedData")
                .Type(ButtonType.Success)
                .OnClick("DisplayAllSelectedData")
                )
            </div>
            <div id="grid-container1">
                <partial name="~/Views/Home/_SpecialNoteGRID.cshtml" />
            </div>
        </center>
        <% } else if(Value == '2') { %>
        <center>
            @(Html.DevExtreme().Button()
            .Icon("check")
            .Text("Load Grid from Ajax")
            .Type(ButtonType.Success)
            .OnClick("LoadGrid")
            )
            <div id="grid-container2">
            </div>
        </center>
        <% } else if(Value == '3') { %>
        <center>
            <div id="grid-container3">
                <partial name="~/Views/Home/_SpecialNoteGRID-Form.cshtml" />
            </div>
        </center>
        <% } else if(Value == '4') { %>
        <center>
            <div id="grid-container4">
                <partial name="~/Views/Home/_SpecialNoteGRID-Merge.cshtml" />
            </div>
        </center>
        <% } else if(Value == '5') { %>
        <center>
            <div id="grid-container5">
                <partial name="~/Views/Home/_SpecialNoteGRID-hr.cshtml" />
            </div>
        </center>
        <% } %>
    </div>
    </text>)
.OnSelectionChanged("onTabChanged")
)

<!-- ConfirmPopup -->
<div class="modal fade" id="ConfirmPopup" tabindex="-1" role="dialog" aria-labelledby="ConfirmTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ConfirmTitle">Confirm Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="ConfirmCancel();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="ConfirmContent">
                Confirm Content
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="ConfirmOK" style="width: 100px;">OK</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width: 100px;" onclick="ConfirmCancel();">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>
    $.getJSON('http://www.geoplugin.net/json.gp', function (clientInfo) {
        console.log(JSON.stringify(clientInfo, null, 2));
        //console.log(clientInfo.ipAddress);

        $.ajax({
            url: '/api/Log/LogClientInfo',
            type: "POST",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify(clientInfo)
        });
    });

    let mergelements = {};
    function OnCellPrepared(e) {

        if (e.rowType == "data") {
            if (e.rowIndex > 0) {

                if (e.component.cellValue(e.rowIndex - 1, e.column.dataField) == e.value) {
                    if (e.component.cellValue(e.rowIndex - 1, e.column.dataField)) {

                        var prev = mergelements[e.rowIndex - 1][e.column.dataField]

                        if (!mergelements[e.rowIndex])
                            mergelements[e.rowIndex] = {};

                        mergelements[e.rowIndex][e.column.dataField] = prev;

                        if (prev) {
                            e.cellElement.css("display", "none");

                            var span = prev.attr('rowspan');
                            if (span)
                                prev.attr('rowspan', Number(span) + 1);
                            else
                                prev.attr('rowspan', 2);
                        }
                    }
                    else {
                        if (!mergelements[e.rowIndex])
                            mergelements[e.rowIndex] = {};

                        mergelements[e.rowIndex][e.column.dataField] = e.cellElement;
                    }
                }
                else {
                    if (!mergelements[e.rowIndex])
                        mergelements[e.rowIndex] = {};

                    mergelements[e.rowIndex][e.column.dataField] = e.cellElement;
                }
            }
            else {
                if (!mergelements[e.rowIndex])
                    mergelements[e.rowIndex] = {};

                mergelements[e.rowIndex][e.column.dataField] = e.cellElement;
            }
        }
    }

    function SplitByHrTag() {
        $(".SplitByHr").each(function () {
            let html = $(this).html();
            if (html != null) {
                html = html.replaceAll("%", "<hr class='billingHistory'>");
                $(this).html(_.unescape(html));
            }
        });
    }
</script>

<style>
    hr.billingHistory {
        display: block;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
        border-top: 1px solid gray !important;
        border-style: inset;
    }
</style>