@using ORA.UI.PAMS.Demo.Models;

<h2>PAMS</h2>

@(Html.DevExtreme().TabPanel()
                .ID("tabpanel-container")
                .Height("100%")
                .DataSource(new NameValue[2] { new NameValue("Tab1", "1"), new NameValue("Tab2", "2") })
                .SelectedIndex(0)
                .Loop(false)
                .AnimationEnabled(true)
                .SwipeEnabled(true)
                .ItemTitleTemplate(@<text>
                    <span><%- Name %></span>
                </text>)
                .ItemTemplate(@<text>
                    <div class="tabpanel-item">
                        <% if(Value == '1') { %>
                            <partial name="~/Views/Home/_Grid-SpecialNote.cshtml" />
                        <% } else { %>
                        <span>2</span>
                        <% } %>
                    </div>
                </text>)
)

<script>
    function onEditorPreparing(e) {
        if (e.dataField === "Comment")
            e.editorName = "dxTextArea";
    }
</script>