@using ORA.UI.PAMS.Demo.Models;

<center>
    <h2>PAMS</h2>
</center>

@(Html.DevExtreme().TabPanel()
                .ID("tabpanel-container")
                .Height("100%")
                .Width("100%")
                .DataSource(new NameValue[3] { new NameValue("Tab1: Partial View", "1"), new NameValue("Tab2: Ajax load", "2"), new NameValue("Tab3: Edit in Form", "3") })
                .SelectedIndex(0)
                .Loop(false)
                .AnimationEnabled(true)
                .SwipeEnabled(true)
                .ItemTitleTemplate(@<text>
                    <span><%- Name %></span>
                </text>)
                .ItemTemplate(@<text>
                    <div class="tabpanel-item">
                        <% if(Value == '1') { %>
                        <center>
                            <div>
                                    @(Html.DevExtreme().Button()
                                .Icon("check")
                                .Text("ShowSelectedData")
                                .Type(ButtonType.Success)
                                .OnClick("DisplayAllSelectedData")
                                )
                                </div>
                                <div id="grid-container1">
                                    <partial name="~/Views/Home/_SpecialNoteGRID.cshtml" />
                                </div>
                            </center>
                            <% } else if(Value == '2') { %>
                            <center>
                                        @(Html.DevExtreme().Button()
                                .Icon("check")
                                .Text("Load Grid from Ajax")
                                .Type(ButtonType.Success)
                                .OnClick("LoadGrid")
                                )
                                <div id="grid-container2">
                                </div>
                            </center>
                            <% } else if(Value == '3') { %>
                            <center>
                                <div id="grid-container3">
                                    <partial name="~/Views/Home/_SpecialNoteGRID-Form.cshtml" />
                                </div>
                            </center>
                            <% } %>
                        </div>
                    </text>)
                    .OnSelectionChanged("onTabChanged")
)

<!-- ConfirmPopup -->
<div class="modal fade" id="ConfirmPopup" tabindex="-1" role="dialog" aria-labelledby="ConfirmTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ConfirmTitle">Confirm Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="ConfirmCancel();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="ConfirmContent">
                Confirm Content
            </div>
            <div class="modal-footer">
                <button type="button" class="ConfirmOK btn btn-primary" id="ConfirmOK-Save" style="width: 100px; display: none;">OK</button>
                <button type="button" class="ConfirmOK btn btn-primary" id="ConfirmOK-Cancel" style="width: 100px; display: none;">OK</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width: 100px;" onclick="ConfirmCancel();">Cancel</button>
            </div>
        </div>
    </div>
</div>